
<div class="container mt-4">
    {{!-- Nội dung Trang --}}
    <div class="row manga">
        <div class="list-users mt-4">
        <div class="card-header">
            <h4 class="card-title mb-0">Danh sách người dùng</h4>
        </div>
        <div class="top mb-4">
            <form action="">
                <div class="wrapper">
                    <div class="search-input"> 
                        <input  placeholder="Nhập số điện thoại..."  type="text" id="search" autocomplete="off">      
                    </div>
                    <div class="search-result">
                        <ul id="match-list" class="autocom-box">
                        </ul>
                    </div>
                </div>
            </form>
        </div>
        <div class="userlist">
            <form action="" class="abc">
                <table class="datatable table table-striped mb-4">  
                    <thead>
                        <tr>
                            <th>#</th>
                            <td>Tên</td>
                            <td>Email</td>
                            <td>Số điện thoại</td>
                            <td>Số đơn hàng</td>
                            <td>Lý do</td>
                            <td>Hành động</td>
                        </tr>                    
                    </thead>
                    <tbody>
                        {{#each users}}
                            <tr>
                                <th>{{sum @index 1}}</th>
                                <td>{{this.name}}</td>
                                <td>{{this.email}}</td>
                                <td>{{this.phone}}</td>
                                <td>{{this.idCart.length}}</td>
                                <td class="reason">{{this.reason}}</td>
                                <td>
                                    <a href="#" class="btn btn-purple">Phiếu thuê</a>
                                    <span class="" data-id="{{this._id}}">
                                        {{#block_unblock_account this.status}}
                                        {{/block_unblock_account}}
                                    </span>
                                    
                                </td>
                                <td class="status" hidden>{{this.status}}</td>
                            </tr> 
                        {{/each}} 
                    </tbody>                   
                </table>
            </form>
        </div>
    </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded",function(){
        var searchWrapper = document.querySelector('.search-input')
        var search = document.getElementById('search')
        var matchList = document.getElementById('match-list')
        var blockAccount = document.querySelectorAll('.btn-block-account')
        var searchPhones =  searchText =>{
            if(searchText.length === 0){
                matches = [];
                searchWrapper.classList.remove("active")
                matchList.innerHTML = ''
                return false;
            }
            axios.get("/admin/users/search")
            .then((res)=>{
                const users = res.data.users
                let matches = users.filter(user =>{
                    console.log(user.phone)
                    //const regex = new RegExp(`${searchText}`, 'giu')
                    //return user.phone.replace(/\s/gis, "").match(regex) 
                    return user.phone
                })
                if(matches.length === 0){
                    searchWrapper.classList.remove("active")
                    matchList.innerHTML = ''
                }

                outputHtml(matches)
            })
        }
        const outputHtml = matches =>{
            if(matches.length >0){
                const html = matches.map(match =>`
                    <a href="#" target="_blank"><li>${match.name}</li></a>
                `)
                .join('');
                searchWrapper.classList.add("active")
                matchList.innerHTML = html
            }
        }
        search.addEventListener('input', ()=> searchPhones(search.value.replace(/\s/gis, "").toLowerCase()))

        //Khóa/mở khóa tài khoản
        blockAccount.forEach((btn, i) =>{          
            btn.onclick = function(){
                var idItem = btn.parentElement.getAttribute('data-id')
                var status = btn.parentElement.parentElement.parentElement.querySelector('.status')
                var reasonEl = btn.parentElement.parentElement.parentElement.querySelector('.reason')
                var reason =  ''
                var flag = 1
                if(btn.innerText == 'Khóa'){
                    reason =  prompt('Nhập lý do')
                    if(reason == ''){
                        alert('Lý do không thể để trống!')
                        flag = 0
                    }
                    else{
                        reasonEl.innerText = reason
                        btn.innerText = 'Mở khóa'
                        btn.classList.remove('btn-danger') 
                        btn.classList.add('btn-success') 
                    }   
                }
                else if(btn.innerText == 'Mở khóa'){
                    btn.innerText = 'Khóa'
                    btn.classList.remove('btn-success') 
                    btn.classList.add('btn-danger')  
                }
                if(flag == 1){
                    axios.post("/admin/users/block/" + idItem,{
                        status: status.innerText,
                        reason: reason
                    })
                    .then((res)=>{
                        console.log('abc')
                        console.log(res.data)
                    })
                }
            }
        })
    })
</script>