
<div class="content">
    {{!-- left menu --}}
    <div class="menu">
        <ul>
            <a href="">
                <li>
                    Trang chủ
                </li>
            </a>
            <a href="/admin/manga/">
                <li>
                    Quản lý truyện
                </li>
            </a>
            <a href="">
                <li>
                    Quản lý nhân viên
                </li>
            </a>
            <a href="">
                <li>
                    Tạo phiếu mượn
                </li>
            </a>
            <a href="">
                <li>
                    Thống kê
                </li>
            </a>
        </ul>
    </div>
    {{!-- Nội dung trang  --}}
    <div class="info">
        <form action="/admin/{{this.tentruyen}}/edit" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nameManga">Tên truyện</label>
                    <input type="text" id="nameManga" value="{{mangas.tentruyen}}" name="nameManga">
                </div>
                <div class="form-group">
                    <label for="avatarManga">Hình</label>
                    <img src="img/{{mangas.hinh}}" alt="Ảnh avater manga!!!" width="60px">
                    
                    <input type="file"  id="avatarManga" name="avatarManga">
                </div>
                <div class="form-group">
                    <label for="category">Thể loại: </label>
                    <div class="category">
                         
                        <input type="hidden"  name="dataCategories" value="{{mangas.theloai}}">
                        {{#each categories}}
                            <label >{{this.tenloai}}</label>
                            <input type="checkbox"  name="category[]" value="{{this.tenloai}}">
                        {{/each}}   
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Mô tả</label>
                    <textarea name="description" id="description" >{{mangas.mota}}</textarea>
                    
                </div>
           
            {{!-- btn Submit form --}}
            <button type="submit" class="btn btn-outline-primary">Thêm</button>
        </form>
    </div>
</div>
    

