
<div class="content">
        <div class="menu">
            <ul>
                <a href="/admin/manga/">
                    <li>
                        Quản lý truyện
                    </li>
                </a>
                <a href="/admin/categorys/">
                    <li>
                        Quản lý thể loại truyện
                    </li>
                </a>
                <a href="">
                    <li>
                        Quản lý nhân viên
                    </li>
                </a>
                <a href="">
                    <li>
                        Tạo phiếu mượn
                    </li>
                </a>
                <a href="">
                    <li>
                        Thống kê
                    </li>
                </a>
            </ul>
        </div>
    {{!-- Nội dung trang  --}}
    <div class="info">
        <form action="/admin/{{this.tentruyen}}/edit" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nameManga">Tên truyện</label>
                    <input type="text" id="nameManga" value="{{mangas.tentruyen}}" name="nameManga">
                </div>
                <div class="form-group">
                    <label for="avatarManga">Hình</label>
                    <img src="img/{{mangas.hinh}}" alt="Ảnh avater manga!!!" width="60px">
                    
                    <input type="file"  id="avatarManga" name="avatarManga">
                </div>
                <div class="form-group">
                    <label for="category">Thể loại: </label>
                    <div class="category">
                         
                        <div name="dataCategories[]" hidden value="{{mangas.theloai}}">{{mangas.theloai}}</div>
                        {{#each categories}}
                            <label >{{this.tenloai}}</label>
                            <input type="checkbox" class="category-arr"  name="category[]" value="{{this.tenloai}}">
                        {{/each}}   
                    </div>
                </div>

                <div class="form-group">
                    <label for="description">Mô tả</label>
                    <textarea name="description" id="description" >{{mangas.mota}}</textarea>
                    
                </div>
           
            {{!-- btn Submit form --}}
            <button type="submit" class="btn btn-outline-primary">Thêm</button>
        </form>
    </div>
</div>
    

<script>
    var valueArrCategories = document.getElementsByClassName('category-arr')
    var valueArrCategoriesInData = document.getElementsByName('dataCategories[]')
    for(var i = 0; i < valueArrCategories.length; i++){
        for(var j = 0; j < valueArrCategoriesInData.length; j++){
            var arr = valueArrCategories[i].value 
            var data = valueArrCategoriesInData[j].innerText
            if(data == arr){
                var a = valueArrCategories[i].setAttribute('checked','checked')
            }
        }
    }
   

    
</script>