<div class="container">
    <a href="../" class="btn btn-info">Quay lại</a>
    <form name="form-pay" >
        <table class="table">
            <thead>
                <th>Truyện cho thuê</th>
                <th>Tập số</th>
                <th>Số lượng</th>
                <th>Giá thuê/lần</th>
                <th>Giá truyện/cuốn</th>
            </thead>
            <tbody>
            </tbody>
                <tbody>
                    {{#each detailCart.listRentalBooks.items}}
                    <tr class="row-data">
                        <td class="nameManga"> {{this.bookId.nameManga}}</td>
                        <td class="episode">{{this.bookId.episode}}</td>
                        <td class="amount">{{this.amount}}</td>
                        <td class="rentCost">{{this.bookId.rentCost}}</td>
                        <td class="cost">{{this.bookId.cost}}</td>
                        <td class="amountPaid" hidden>{{this.amountPaid}}</td> 
                    </tr>         
                    {{/each}}
                </tbody>
        </table>
    </form>
    <div>Trạng thái {{detailCart.idCart.status}}</div>
    <div>Ngày thuê: {{dateFormat detailCart.createAt}}</div>
    <div>Số quyển truyện: {{detailCart.totalItem}}</div>
    <div>Tổng tiền: {{detailCart.totalPrice}}</div>
    
</div>

<script>
    document.addEventListener("DOMContentLoaded",function(){
    })
</script>