<div class="container">
    <table class="table">
        <thead>
            <th>#</th>
            <th>phone</th>
            <th>Ngày tạo</th>
        </thead>
        <tbody>
            {{#each cart}}
                <tr>
                    <td>{{sum @index 1}}</td>
                    <td>{{this.phone}}</td>
                    <td>{{dateFormat this.createAt}}</td>
                    <td>{{this.status}}</td>
                    <td>
                        {{!-- <button class="btn btn-info btn-detail" data-id="{{this._id}}">Chi tiết</button> --}}
                        <button class="btn btn-success btn-confirm" data-id="{{this._id}}">Đã nhận</button>
                        <button class="btn btn-danger btn-reject" data-id="{{this._id}}">Hủy</button>
                    </td>
                </tr>
            {{/each}}       
        </tbody>
    </table>
</div>

<script>
    document.addEventListener("DOMContentLoaded",function(){
        var btnConfirm = document.querySelectorAll('.btn-confirm')
        var reject = document.querySelectorAll('.btn-reject')
        console.log(reject)
        btnConfirm.forEach((btn) => {
            btn.onclick = function(){
                var idItem = this.getAttribute("data-id")
                this.parentElement.parentElement.remove()
                axios.post('/admin/rentals/confirm/' + idItem)
                    .then((res)=>{
                        console.log(res)
                    })
                    .catch((err)=>{
                        console.log(err)
                    })
            }
        })


         reject.forEach((rej, i, rejArr) =>{
            rej.onclick = function (){
                var idItem = this.getAttribute("data-id")
                var value = document.getElementById(idItem)
                var reason = prompt("Nhập lý do hủy yêu cầu!")
                var reasonReject = this.parentElement.parentElement.querySelectorAll('.reason-reject')
                this.parentElement.parentElement.remove()
                if (reason != null) {
                    axios.post('/admin/rentals/' + idItem +'/reject',{
                        reasonReject: reason
                    })
                    .then((res)=>{      
                        console.log(res.data.resonReject)
                        var data = res.data
                    })
                    .catch((err)=>{
                        console.log(err)
                    })
                }
  
            }    
        })
    })
</script>