<div class="container mt-4 mb-2 manga">
    <h1 class="mt-2 mb-2">Chi tiết phiếu trả </h1>
    <div class="row">
        <div class="col-sm-4">
            <b>Ngày thuê: </b><span id="dateRental">{{dateFormat cart.idDetailCart.createAt format="MM/DD/YYYY"}}</span>
        </div>
        <div class="col-sm-4"><b>Ngày trả:</b><span id="date"></span></div>
        <div class="col-sm-4"><b>Số ngày trễ: </b><span id="dateDelay"></span></div>
    </div>
    <div class="row">
        <div class="col-sm-4"> <b>Tiền thuê: </b><span id="totalRentCost"></span></div>
        <div class="col-sm-4"> <b> Tiền cọc:</b> <span id="totalCost"></span></div>
        <div class="col-sm-4"> <b>Tổng tiền đã nhận: </b> <span id="totalPrice">{{cart.totalPrice}}</span></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Số tiền phạt: </b><span id="fine"></span>đ</div>
        <div class="col-sm-4"><b>Số tiền trả lại:</b> <span id="totalPricePay"></span>đ</div>
        <div class="col-sm-4"><b>Số ngày thuê: </b><span id="numberRental">7 ngày</span></div>
    </div>
    <form name="form-pay">
        <table class="table mt-4">
            <thead>
                <th>Truyện cho thuê</th>
                <th>Tập số</th>
                <th>Số lượng</th>
                <th>Giá thuê/lần</th>
                <th>Giá truyện/cuốn</th>
                {{!-- <th>Trạng thái truyện</th> --}}
                <th>Số lượng đã trả</th>
            </thead>
                <tbody>
                    <td id="idCart" hidden>{{cart._id}}</td>
                    {{#each cart.idDetailCart.listRentalBooks.items}}
                    <tr class="row-data">
                        <td class="nameManga"> {{this.bookId.nameManga}}</td>
                        <td class="episode">{{this.bookId.episode}}</td>
                        <td class="amount">{{this.amount}}</td>
                        <td class="rentCost">{{this.bookId.rentCost}}</td>
                        <td class="cost">{{this.bookId.cost}}</td>
                        {{!-- <td>
                            <select class="form-select cbb-status-book" name="cbb-status-book" class="cbbStatusBook">
                                <option value="Nguyên vẹn" data-id="1">Nguyên vẹn</option>
                                <option value="Hư hại nhẹ" data-id="2">Hư hại nhẹ</option>
                                <option value="Hư hại nặng" data-id="3">Hư hại nặng</option>
                                <option value="Mất" data-id="4">Mất</option>
                            </select>
                        </td> --}}
                        <td class="paid" data-id="{{this.bookId._id}}">
                            
                            {{#if this.status}}
                                {{this.status}}      
                            {{else}}
                                <button class="btn btn-primary btn-paid" data-id="{{this.bookId._id}}">Trả trước</button>
                            {{/if}}
                        </td>
                        <td class="amountPaid" hidden>{{this.amountPaid}}</td> 
                    </tr>         
                    {{/each}}
            </tbody>
        </table>
        <button type="submit" class="btn btn-success btn-submit mb-2" id="btn-submit">xác nhận</button>
    </form>

    
</div>

<script>
    document.addEventListener("DOMContentLoaded",function(){
        var btnPaid = document.querySelectorAll('.btn-paid')

        var today = new Date();//Lấy ngày hiện tại
        var dateRentalReal = new Date();//Ngày trả truyện thực tế
        var btnSubmit = document.querySelector('.btn-submit')
        var numberRental = document.getElementById('numberRental')//số ngày thuê
        var valueDateDelay = document.getElementById('dateDelay')//số ngày trễ
        var totalPrice = document.getElementById('totalPrice')//tổng tiền đã nhận
        var valueFine = document.getElementById('fine')//tiền phạt       
        var totalPricePay = document.getElementById('totalPricePay')//Số tiền trả lại
        var totalRentCost = document.getElementById('totalRentCost')//Tổng tiền thuê
        var totalCost = document.getElementById('totalCost')//Tổng tiền thuê

        var form = document.forms['form-pay']
        var valueDateRental = document.getElementById('dateRental').innerText//giá trị của ngày -> Số
        var dateRental = new Date(valueDateRental)//Chuyển về kiếu ngày

        var date = (today.getMonth()+1) +'/'+ today.getDate()+'/'+ today.getFullYear();
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
        var datenow = document.querySelector('#date').innerText = date

        dateRentalReal= dateRentalReal.setDate(today.getDate() - dateRental.getDate())
        var valueDateDiff = new Date(dateRentalReal)

        var dateDiff = valueDateDiff.getDate()-30
        var dateDelay = dateDiff - numberRental.innerText
        
        var rowData = this.querySelector('.table').querySelectorAll('.row-data')
        //Tính và hiển thị tổng tiền thuê
        var valueTotalRentCost = 0
        rowData.forEach((row) => {
            var rowRentCost = row.querySelector('.rentCost').innerText
            var rowAmount = row.querySelector('.amount').innerText
            var amountPaid = row.querySelector('.amountPaid').innerText
            console.log(amountPaid)
            valueTotalRentCost += rowRentCost * rowAmount
            totalRentCost.innerText =  valueTotalRentCost
        })
        //Tính và hiển thị tổng tiền cọc
        var valueTotalCost = 0
        rowData.forEach((row) => {
            var rowRentCost = row.querySelector('.cost').innerText
            var rowAmount = row.querySelector('.amount').innerText
            valueTotalCost += rowRentCost * rowAmount
            totalCost.innerText =  valueTotalCost
            totalPricePay.innerText = valueTotalCost
        })

        if(dateDelay <= 0){
            valueDateDelay.innerText = 0
            valueFine.innerText = 0
        }
        else if(dateDelay > 0){
            var dateNumber = dateDiff - numberRental.innerText
            valueDateDelay.innerText = dateNumber
            var fine = 1000 * dateNumber
            valueFine.innerText = fine
            totalPricePay.innerText = (totalPrice.innerText - fine)
        }

        btnPaid.forEach(btn => {
            btn.onclick = function (){
                var idItem = this.getAttribute("data-id")
                var rowData = this.parentElement.parentElement
                var idCart = document.getElementById('idCart').innerText
                var amount = rowData.querySelector('.amount').innerText
                var valueAmountPaid = rowData.querySelector('.amountPaid')
                var statusPayBooks = rowData.querySelector('.cbb-status-book')//lấy cbb status book
                //var valueStatusPayBook = statusPayBooks.options[statusPayBooks.selectedIndex].value//Lấy giá trị mà nó hiện có
                var rentCost = rowData.querySelector('.rentCost').innerText
                console.log(rentCost)
                var flag = 1
                var amountPaid = 1

                if(amount == 1){
                    var confirmPaid = confirm("Trả trước?")
                }
                else if(amount > 1){
                    amountPaid = prompt("Số quyển trả trước?")
                    if(amountPaid > amount){
                        alert('Số lượng không hợp lệ')
                        flag = 0
                    }
                }
                console.log(totalCost.innerText - parseInt(amountPaid)*rentCost)
                totalRentCost.innerText -=  parseInt(amountPaid)*rentCost

                if(flag == 1){
                    this.remove()
                    var paid = rowData.querySelector('.paid')
                    paid.innerText = 'Đã trả '+amountPaid+' cuốn'
                    axios.post('/admin/rentals/pay/' +idItem,{
                        idCart: idCart,
                        amountPaid: amountPaid,
                    })
                    .then((res) => console.log(res.data))
                    .catch(err => console.log(err))
                }
                
            }
        })

        form.addEventListener("submit", function(e){
            e.preventDefault()
            var rowData = document.querySelectorAll('.row-data')
            rowData.forEach((row) =>{
                var nameManga = row.querySelector('.nameManga').innerText
                var episode = row.querySelector('.episode').innerText
                var amount = row.querySelector('.amount').innerText
                var rentCost = row.querySelector('.rentCost').innerText
                //var statusPayBooks = row.querySelector('.cbb-status-book')
                //var id = statusPayBooks.options[statusPayBooks.selectedIndex].getAttribute('data-id')
                var datePay = document.getElementById('date').innerText
                var idCart = document.getElementById('idCart').innerText

                datePay = new Date(datePay + ' ' + time)
                axios.post('/admin/rentals/pay/'+idCart+'/book/',{
                    datePay: datePay,
                    nameManga: nameManga,
                    episode: episode,
                    amount: amount,
                    //statusPayBooks: id,
                })
                    .then((res)=>{
                        console.log(res.data.message)
                        const result = res.data.message
                        if(result == 'Phiếu thuê dã hoàn thành'){
                            alert(result)
                            location.assign('/admin/rentals/pay/')
                        }
                    })
                    .catch((err)=>{
                        console.log(err)
                    })
            })
        })


    })
</script>