<div class="container mt-4 mb-2 manga">
    <h1 class="mt-2 mb-2">Chi tiết phiếu trả </h1>
    <div class="row">
        <div class="col-sm-4">
            <b>Ngày thuê: </b><span id="dateRental">{{dateFormat cart.idDetailCart.createAt format="MM/DD/YYYY"}}</span>
        </div>
        <div class="col-sm-4"><b>Ngày trả:</b><span id="date"></span></div>
        <div class="col-sm-4"><b>Số ngày trễ: </b><span id="dateDelay"></span></div>
    </div>
    <div class="row">
        <div class="col-sm-4"> <b>Tiền thuê: </b><span id="totalRentCost"></span></div>
        <div class="col-sm-4"> <b> Tiền cọc:</b> <span id="totalCost"></span></div>
        <div class="col-sm-4"> <b>Tổng tiền đã nhận: </b> <span id="totalPrice">{{cart.totalPrice}}</span></div>
    </div>
    <div class="row">
        <div class="col-sm-4"><b>Số tiền phạt: </b><span id="fine">0</span>đ</div>
        <div class="col-sm-4"><b>Số tiền trả lại:</b> <span id="totalPricePay"></span>đ</div>
        <div class="col-sm-4"><b>Số ngày thuê: </b><span id="numberRental">7 ngày</span></div>
    </div>
    <form name="form-pay" class="form-pay">
        <table class="table table-striped table-bordered mt-4 " style="text-align:center; justify-content: center;">
            <thead>
                <th>Truyện cho thuê</th>
                <th>Tập số</th>
                {{!-- <th>Số lượng</th> --}}
                <th>Giá thuê/lần</th>
                <th>Giá truyện/cuốn</th>
                <th>Trả trước truyện</th>
                <th>Tình trạng truyện</th>
                <th>Ngày trả</th>
            </thead>
            <tbody>
                <td id="idCart" hidden>{{cart._id}}</td>
                {{#each cart.idDetailCart.listRentalBooks.items}}
                {{this.bookId.datePayBook}}
                <tr class="row-data">
                    <td class="nameManga" style="vertical-align: middle;"> {{this.bookId.nameManga}}</td>
                    <td class="episode" style="vertical-align: middle;">{{this.bookId.episode}}</td>
                    {{!-- <td class="amount" style="vertical-align: middle;">{{this.amount}}</td> --}}
                    <td class="rentCost" style="vertical-align: middle;">{{this.bookId.rentCost}}</td>
                    <td class="cost" style="vertical-align: middle;"    >{{this.bookId.cost}}</td>
                    <td class="paid" data-id="{{this.bookId._id}}">
                        {{#if this.status}}
                            {{this.status}}      
                        {{else}}
                            <button class="btn btn-primary btn-paid" data-id="{{this.bookId._id}}">Trả</button>
                        {{/if}}
                    </td>
                    <td class="amountPaid" hidden>{{this.amountPaid}}</td>
                    <td class="statusBook">
                        {{#if this.statusBook}}
                            {{this.statusBook}}
                        {{else}}
                            <select class="form-select cbb-status-book" name="cbb-status-book">
                                <option value="Nguyên vẹn" data-id="1">Nguyên vẹn</option>
                                <option value="Hư hại nhẹ" data-id="2">Hư hại nhẹ</option>
                                <option value="Hư hại nặng" data-id="3">Hư hại nặng</option>
                                <option value="Mất" data-id="4">Mất</option>
                            </select>
                        {{/if}}
                    </td>
                    <td class="datePayBook">{{this.datePayBook}}</td>
                </tr>         
                {{/each}}
        </tbody>
        </table>
        <button type="submit" class="btn btn-success btn-submit mb-2" id="btn-submit">xác nhận</button>
    </form>

    
</div>

<script>
    document.addEventListener("DOMContentLoaded",function(){
        var btnPaid = document.querySelectorAll('.btn-paid')   
        var rowData = this.querySelector('.table').querySelectorAll('.row-data')//Lấy giá trị trên 1 dòng 
        var today = new Date();//Lấy ngày hiện tại
        var dateRentalReal = new Date();//Ngày trả truyện thực tế
        var btnSubmit = document.querySelector('.btn-submit')
        var numberRental = document.getElementById('numberRental')//số ngày thuê
        var valueDateDelay = document.getElementById('dateDelay')//số ngày trễ
        var totalPrice = document.getElementById('totalPrice')//tổng tiền đã nhận
        var valueFine = document.getElementById('fine')//tiền phạt       
        var totalPricePay = document.getElementById('totalPricePay')//Số tiền trả lại
        var totalRentCost = document.getElementById('totalRentCost')//Tổng tiền thuê
        var totalCost = document.getElementById('totalCost')//Tổng tiền cọc
        var form = document.forms['form-pay']
        var valueDateRental = document.getElementById('dateRental').innerText//giá trị của ngày -> Số
        var dateRental = new Date(valueDateRental)//Chuyển về kiếu ngày

        var date = (today.getMonth()+1) +'/'+ today.getDate()+'/'+ today.getFullYear();//lấy ngày hiện tại
        var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();//lấy giờ hiện tại
        var datenow = document.querySelector('#date').innerText = date//gán giá trị ngày hiện tại vào chỗ ngày trả

        dateRentalReal= dateRentalReal.setDate(today.getDate() - dateRental.getDate())
        var valueDateDiff = new Date(dateRentalReal)
        var dateDiff = valueDateDiff.getDate() - 30 //Lấy số ngày
        //7 là số ngày thuê
        var dateDelay = dateDiff -7 // Số ngày trễ --------------               Thêm - 7
        
        //Hiển thị số ngày trễ
        if(dateDelay > 0){
            valueDateDelay.innerText = dateDelay
        }
        else{
            valueDateDelay.innerText = 0
        }
        
        //Tính và hiển thị tổng tiền cọc
        var valueTotalCost = 0//Tổng tiền thuê
        var valueTotalPricePay = 0//Tổng tiền trả lại
        var valueTotalFine = 0//Tổng tiền phạt
        
        rowData.forEach((row) => {
            var rowRentCost = row.querySelector('.cost').innerText
            //var rowAmount = row.querySelector('.amount').innerText
            valueTotalCost += rowRentCost * 1 + rowRentCost * 0.25//Tổng tiền cọc
            totalCost.innerText =  valueTotalCost
            totalPricePay.innerText = valueTotalCost
            valueTotalPricePay = valueTotalCost//Tièn phải tả band dầu bằng số tiền cọc
        })

        //Tính và hiển thị tổng tiền thuê
        var valueTotalRentCost = 0
        rowData.forEach((row, i) => {
            var rowRentCost = row.querySelector('.rentCost').innerText
            var paid = row.querySelector('.paid')
            //var rowAmount = row.querySelector('.amount').innerText
            //var amountPaid = row.querySelector('.amountPaid').innerText
            valueTotalRentCost += rowRentCost * 1
            totalRentCost.innerText =  valueTotalRentCost
            if(dateDelay > 0){
                if(paid.innerText == 'Trả'){
                    valueTotalRentCost += rowRentCost * 1.5// Trả trễ thơi hạn tăng thêm 1.5 lần tiền
                    totalRentCost.innerText =  valueTotalRentCost
                    //Tiền trả lại sau khi trừ tiền thuê
                    
                }
            }
            if( i+1 == rowData.length){
                valueTotalPricePay = totalPrice.innerText - valueTotalRentCost
                totalPricePay.innerText = valueTotalPricePay
            }
        })

        //Tính tiền phạt 
        var tienphattam = 0
        var abc = []
        for(var i = 0;i<rowData.length;i++){
            abc.push(0)
        }
        var statusPayBooks = this.querySelector('.page-wrapper').querySelector('.manga').querySelector('.form-pay').querySelectorAll('.row-data')
        console.log(statusPayBooks)
        
        statusPayBooks.forEach((row, i) => {  
            var rowDataStatusPayBooks = row.querySelector('.statusBook').querySelector('.cbb-status-book')//lấy cbb status book
            console.log('statusPayBooks',rowDataStatusPayBooks)  
            
            var rowRentCost = row.querySelector('.cost').innerText
            //if(rowDataStatusPayBooks != null){
                
                rowDataStatusPayBooks.onchange = function(){   
                    console.log(i) 
                    var valueStatusPayBook = rowDataStatusPayBooks.options[rowDataStatusPayBooks.selectedIndex].value //Lấy giá trị mà nó hiện có 
                    console.log('a1',valueStatusPayBook)
                    totalPricePay.innerText = parseInt(totalCost.innerText) 
                    if(valueStatusPayBook == "Nguyên vẹn"){
                        valueTotalFine -= abc[i]
                        console.log('valueTotalFine sau',valueTotalFine)
                        valueFine.innerText = valueTotalFine
                        totalPricePay.innerText -=  parseInt(valueTotalFine)
                        abc[i] = 0
                    }
                    else if(valueStatusPayBook == "Hư hại nhẹ"){    
                        valueTotalFine +=  parseInt(rowRentCost)*0.5
                        var a = parseInt(rowRentCost)*0.5
                        valueFine.innerText = valueTotalFine
                        valueTotalPricePay -=  a
                        totalPricePay.innerText = valueTotalPricePay
                        //Lưu tiền phạt tạm
                        tienphattam = a
                        abc[i] = tienphattam
                        console.log('tien phat tam 1', abc)
                    }
                    else if(valueStatusPayBook == "Hư hại nặng"){
                        valueTotalFine += parseInt(rowRentCost)
                        var a = parseInt(rowRentCost)
                        valueFine.innerText = valueTotalFine
                        valueTotalPricePay -= a
                        totalPricePay.innerText =  valueTotalPricePay
                        //Lưu tiền phạt tạm
                        tienphattam = a
                        abc[i] = tienphattam
                        console.log('tien phat tam 1', abc)
                    }
                    else if(valueStatusPayBook == "Mất"){
                        valueTotalFine += parseInt(rowRentCost) + parseInt(rowRentCost) * 0.25
                        var a = parseInt(rowRentCost) + parseInt(rowRentCost) * 0.25
                        valueFine.innerText = valueTotalFine
                        valueTotalPricePay -=  a
                        totalPricePay.innerText = valueTotalPricePay
                        //Lưu tiền phạt tạm
                        tienphattam = a
                        abc[i] = tienphattam
                        console.log('tien phat tam 1', abc)
                    } 
                }
            //}    
        })
        //Trả 1 cuốn truyện
        btnPaid.forEach(btn => {
            btn.onclick = function (){
                var idItem = this.getAttribute("data-id")
                var rowData = this.parentElement.parentElement
                var idCart = document.getElementById('idCart').innerText
                //var amount = rowData.querySelector('.amount').innerText
                var valueAmountPaid = rowData.querySelector('.amountPaid')
                var statusPayBooks = rowData.querySelector('.cbb-status-book')//lấy cbb status book
                console.log(statusPayBooks)
                var statusBook = rowData.querySelector('.statusBook')  
                var valueStatusPayBook = statusPayBooks.options[statusPayBooks.selectedIndex].value//Lấy giá trị mà nó hiện có
                console.log('valueStatusPayBook', valueStatusPayBook)
                var rentCost = rowData.querySelector('.rentCost').innerText
                var datePayBook = rowData.querySelector('.datePayBook')
                var amountPaid = 1
                var confirmPaid = confirm("Trả trước?")
                if(confirmPaid){  
                    this.remove()    
                    statusBook.innerText = valueStatusPayBook
                    statusPayBooks.remove()
                    var paid = rowData.querySelector('.paid')
                    paid.innerText = 'Đã trả'
                    datePayBook.innerText = date
                    axios.post('/admin/rentals/pay/' +idItem,{
                        idCart: idCart,
                        amountPaid: amountPaid,
                        datePayBook: date,
                        statusBook: valueStatusPayBook,
                    })
                    .then((res) => console.log(res.data))
                    .catch(err => console.log(err))
                }
            }
        })

        form.addEventListener("submit", function(e){
            e.preventDefault()
            var rowData = document.querySelectorAll('.row-data')
            var flag = 0
            rowData.forEach((row) =>{
                var nameManga = row.querySelector('.nameManga').innerText
                var episode = row.querySelector('.episode').innerText
                //var amount = row.querySelector('.amount').innerText
                var rentCost = row.querySelector('.rentCost').innerText
                var statusPayBooks = row.querySelector('.cbb-status-book')
                var valueStatusPayBook = statusPayBooks.options[statusPayBooks.selectedIndex].value//Lấy giá trị mà nó hiện có
                var datePay = document.getElementById('date').innerText
                var idCart = document.getElementById('idCart').innerText

                datePay = new Date(datePay + ' ' + time)
                axios.post('/admin/rentals/pay/'+idCart+'/book/',{
                    datePay: datePay,
                    nameManga: nameManga,
                    episode: episode,
                    //amount: amount,
                    statusBook: valueStatusPayBook,
                })
                    .then((res)=>{
                        console.log(res.data.message)
                        const result = res.data.message
                        var flag = 1
                        
                    })
                    .catch((err)=>{
                        console.log(err)
                    })
            })
            if(flag == 1){
                if(result == 'Phiếu thuê dã hoàn thành'){
                    alert(result)
                    location.assign('/admin/rentals/pay/')
                }
            }
            
        })


    })
</script>