<div class="container">
    <div class="details-manga">
        <div class="img-avatar">
            <img src="/img/{{truyen.hinh}}">
        </div>
        <div class="content">
            <div class="name">
                {{truyen.tentruyen}}
            </div>
            <div class="info">
                <div class="category">Thể loại: {{truyen.theloai}}</div>
                <div class="status">Tình trạng:{{truyen.tinhtrang}} </div>
                <div class="description">Mô tả:{{truyen.mota}} </div>
            </div>
        </div>
    </div>
</div>
