
<div class="container">
    {{!-- Nội dung trang  --}}
    <div class="edit-manga">
        <form action="/admin/manga/{{mangas.tentruyen}}?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="nameManga">Tên truyện:</label>
                    <input type="text" id="nameManga" value="{{mangas.tentruyen}}" name="nameManga" class="txtInput">
                </div>
                <div class="form-group">
                    <label for="avatarManga">Hình:</label>
                    <img src="img/{{mangas.hinh}}" alt="Ảnh avater manga!!!" width="60px">
                    
                    <input type="file"  id="avatarManga" name="avatarManga">
                    <input type="text" name="avatarManga2" value="{{mangas.hinh}}" hidden>
                </div>
                <div class="form-group">
                    <label for="category">Thể loại: </label>
                    <div class="category">
                         
                        <div name="dataCategories[]" hidden value="{{mangas.theloai}}">{{mangas.theloai}}</div>
                        {{#each categories}}
                            <label >{{this.tenloai}}</label>
                            <input type="checkbox" class="category-arr"  name="category[]" value="{{this.tenloai}}">
                        {{/each}}   
                    </div>
                </div>
                <div class="form-group">
                    <div>
                        <label>Trạng thái: </label>
                        <div id="cbbStatusData" hidden>{{mangas.tinhtrang}}</div>
                        <select class="cbb-status" name="cbbStatus" id="cbbStatus">
                            <option value="Đang tiến hành">Đang tiến hành</option>
                            <option value="Đã hoàn thành">Đã hoàn thành</option>
                            <option value="Ngưng">Ngưng</option>  
                        </select>
                    </div>
                    <div>
                        <div class="valueRentalData" hidden>{{mangas.chothue}}</div>
                        <label for="cbRental">Cho thuê:</label>
                        <input type="checkbox" id="cbRental" name="cbRental" value="true">
                    </div> 
                </div>
                
                <div class="form-group">
                    <label for="description">Mô tả:</label>
                    <textarea name="description" id="description" >{{mangas.mota}}</textarea>
                </div>
            {{!-- btn Submit form --}}
            <button type="submit" class="btn btn-outline-primary btn-edit-manga">Sửa</button>
        </form>
    </div>
</div>
    

<script>
    //----------BIẾN------------------//
    //Biến mảng tất cả thể loại trong db
    var valueArrCategories = document.getElementsByClassName('category-arr')
    //Biến thể loại trong db của truyện
    var valueArrCategoriesInData = document.getElementsByName('dataCategories[]')[0].innerText
    //Cắt giá trị của thể loại thành 1 mảng
    var cutData =  valueArrCategoriesInData.split(',')
    //Biến lấy giá trị ô checkbox cho thuê
    var checkRental = document.getElementsByName('cbRental')[0]
    //Biến lấy giá trị cho thuê từ db(true - falese)
    var checkRentalData = document.getElementsByClassName('valueRentalData')[0].innerText
    //Biến lấy cbb value
    var checkCbbStatus = document.getElementById('cbbStatus')
    //Biến lấy giá trị tình trạng truyện trong db
    var checkCbbStatusData = document.getElementById('cbbStatusData').innerText

    //-------------------------------------//
    //Check vào ô thể loại trùng với db
    for(var i = 0; i < valueArrCategories.length; i++){
        var arr = valueArrCategories[i].value
        for(var j = 0; j < cutData.length; j++){
            if(cutData[j] == arr){
                var b = valueArrCategories[i].setAttribute('checked','checked')
            }
        }
    }
    //Check vào ô checkbox cho thuê nếu db chothue = true
    if(checkRentalData == 'true'){
        checkRental.setAttribute('checked','checked')
    }
    //Chọn giá trị hiện thị trong cbb theo db
    for(var i = 0; i < checkCbbStatus.length; i++){
        if(checkCbbStatusData == checkCbbStatus[i].value){
            checkCbbStatus[i].setAttribute('selected','selected')
        }
    } 
</script>