<div class="container mt-4">
    <div class="latest">
        <div class="caption">
            <a href="#">
                "Chi tiết danh sách truyện cho thuê"
            </a>
        </div>
            <ul class="list-manga grid-6">
                {{#each list}}
                    <li>
                        <div class="manga-item">
                            <a href="/manga/{{this.slug}}"> <img src="/img/{{this.image}}" alt="#"></a>
                            <h4 class="title-book">
                                <p href="#">Tên Truyện: {{this.nameManga}}</p>
                            </h4>
                            <div class="chapter-book">
                                <p href="#">Tập số: {{this.episode}}, Giá thuê {{this.coverCost}}</p>
                            </div>
                            <div class="more-info"></div>
                        </div>
                    </li>
                {{/each}}
            </ul>
    </div>
</div>