<div class="container mt-4">
    {{!-- info --}}
    <div class="row manga">
        <div class="card-header">
            <h4 class="card-title mb-0">Danh sách truyện đọc</h4>
        </div>
        <div class="top">
            <form action="">
                <div class="wrapper">
                    <div class="search-input"> 
                        <input  placeholder="Type to search..."  type="text" id="search" autocomplete="off">      
                    </div>
                    <div class="search-result">
                        <ul id="match-list" class="autocom-box">
                        </ul>
                    </div>
                </div>
            </form>
            <a href="/admin/manga/add" class="btn-add-manga mt-4">
                <button class="btn btn-purple">Thêm truyện mới</button>
            </a>
        </div>
        
        <div class="mangaList mt-4">
            <table class="table table-striped mb-4">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Tên truyện</td>
                        <td>Thể loại</td>
                        <td>Tinh trạng</td>
                        <td>Thời gian tạo</td>   
                        <td>Hành động</td>
                    </tr>
                </thead>
                <tbody>
                    {{#mangas}}
                        <tr>
                            <th>{{sum @index 1}}</td>
                            <td>{{nameManga}}</td> 
                            <td class="theloai">
                                {{#each categories}}                              
                                    {{nameCategory}},
                                {{/each}}  
                            </td>
                            <td>{{idDetailManga.status}}</td>
                            <td>{{dateFormat createdAt format='DD/MM/YYYY'}}</td>                           
                            <td>
                                <a href="/admin/manga/{{slug}}" class="btn btn-purple">Xem chi tiết</a>
                                <a href="/admin/manga/{{slug}}/edit" class="btn btn-primary">Sửa</a>
                            </td>
                        </tr>
                    {{/mangas}}
                </tbody>
            </table>    
                
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded",function(){
        var searchWrapper = document.querySelector('.search-input')
        var search = document.getElementById('search')
        var matchList = document.getElementById('match-list')
        //tìm truyện và lọc nó
        var searchMangas =  searchText =>{
            if(searchText.length === 0){
                matches = [];
                searchWrapper.classList.remove("active")
                matchList.innerHTML = ''
                return false;
            }
            axios.get("/admin/manga/searchManga")
            .then((res)=>{
                const mangas = res.data.mangas
                // khớp với kiểu nhập văn bản hiện tại
                let matches = mangas.filter(manga =>{
                    const regex = new RegExp(`${searchText}`, 'giu')
                    return manga.nameManga.replace(/\s/gis, "").match(regex) || manga.otherName.replace(/\s/gis, "").match(regex)
                })
                if(matches.length === 0){
                    searchWrapper.classList.remove("active")
                    matchList.innerHTML = ''
                }

                outputHtml(matches)
            })
        }
        const outputHtml = matches =>{
            if(matches.length >0){
                const html = matches.map(match =>`
                    <a href="/admin/manga/${match.slug}" target="_blank"><li>${match.nameManga}</li></a>
                `)
                .join('');
                searchWrapper.classList.add("active")
                matchList.innerHTML = html
            }
        }
        search.addEventListener('input', ()=> searchMangas(search.value.replace(/\s/gis, "").toLowerCase()))
    })
</script>
