<div class="content">
    {{!-- info --}}
    <div class="rentalsList">
        <div>
                <form action="/admin/rentals/search">
                    <input type="text" class="search-input" id="search" name="tentruyen">
                    <button class="search-submit"  type="submit">Tìm</button>
                </form>
            </div>
        <div>
            <a href="/admin/manga/" class="btn-back">
                <button class="btn btn-primary" >Quay lại</button>
            </a>
            
        </div>
        <div class="rentalsListData">
            <table class="table card-table">
                <thead>
                    <tr>
                        <td>#</td>
                        <td>Tên truyện</td>
                        <td>Mô tả</td>
                    </tr>
                </thead>
                <tbody>
                    {{#each mangas}}
                        <tr>
                            <th>{{sum @index 1}}</td>
                            <td><a href="/admin/rentals/{{this.slug}}">{{this.tentruyen}}</a></td>   
                            <td>{{this.mota}}</td> 
                            <div class="control">
                                <td>
                                    <a href="/admin/rentals/{{this.slug}}/addbook">Thêm chap</a>
                                </td>
                            </div>                 
                        </tr>
                    {{/each}}
                </tbody>
                
            </table>
                
        </div>
    </div>
</div>

