<div class="container">
    <div class="row">
        <table class="table">
            
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên truyện</th>
                    <th>Tập số</th>
                    <th>Giá Thuê</th>
                    <th>Số lượng</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                    {{#each cart.items}}
                        <tr class="row-delete" data-id="{{this.bookId._id}}">
                            <th>{{sum @index 1}}</th>
                            <th name="nameManga" class="nameManga">{{this.bookId.nameManga}}</th>
                            <th name="episode" class="episode">{{this.bookId.episode}}</th>
                            <th name="rentCost" class="rentCost">{{this.bookId.rentCost}}₫</th>
                            <th name="amount" class="amount">{{this.amount}}</th>
                            <th>
                                <button class="btn btn-danger btn-delete-item" data-id="{{this.bookId._id}}">Xóa</button>
                            </th>
                        </tr>
                    {{/each}}
                        <tr>
                            <td colspan="4" style="text-align: right;">Tổng tiền:</td>
                            <td >
                                <div class="tong-tien">
                                    {{cart.totalPrice}}₫
                                </div>
                            </td>
                        </tr>
            </tbody>
                
        </table>
        <form name="form-rentals"  method="POST">
            <div>
                <label for="">Số ngày thuê: </label>
                <input type="text" name="numberRental">
            </div>
            <input type="hidden" name="totalPrice" value="{{cart.totalPrice}}">
            <button type="submit" class="btn btn-success" id="submitForm">Xác nhận</button>
        </form>
            
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded",function(){
        var btnDeleteItem = document.querySelectorAll('.btn-delete-item')
        var rowDelete = document.querySelectorAll('.row-delete')
        var cartItem = document.querySelector('.cart-item')
        var form = document.forms['form-rentals']
        var submitForm = document.querySelector('#submitForm')
        var tongtienEl = document.querySelector('.tong-tien')

        btnDeleteItem.forEach(btn =>{
            btn.onclick = function (){
                tongtienEl.innerText = ""
                cartItem.innerText = ""
                var idItem = this.getAttribute("data-id")
                this.parentElement.parentElement.remove()
                axios.post('/deleteItem/' + idItem)
                .then((res)=>{
                    console.log(res.data)

                    const totalPrice = res.data.cart.totalPrice
                    const totalItem = res.data.cart.totalItem
                    tongtienEl.innerText = totalPrice + "₫"
                    cartItem.innerText = totalItem
                })
                .catch((err)=>{
                    console.log(err)
                })
            }

            
        })

        form.addEventListener("submit", function(e){
                e.preventDefault()
                var numberRental = form.numberRental.value
                var rowData = this.parentElement.querySelector('.table').querySelectorAll('.row-delete')
                console.log(rowData)
                
                rowData.forEach((row, i) => {
                    var nameManga = row.querySelector('.nameManga').innerText
                    var episode = row.querySelector('.episode').innerText
                    var rentCost = row.querySelector('.rentCost').innerText
                    var amount = row.querySelector('.amount').innerText
                    var totalPrice = tongtienEl.innerText
                    axios.post('/admin/rentals',{
                        nameManga: nameManga,
                        episode: episode,
                        rentCost: rentCost,
                        amount: amount,
                        totalPrice: totalPrice,
                        numberRental: numberRental,
                    })
                    .then((res)=>{
                        console.log(res)
                    })
                    .catch((err)=>{
                        console.log(err)
                    })
                })
            })
    })
</script>