<div class="container">
    <div class="row">
        <table class="table" id="table">
            
            <thead>
                <tr>
                    <th>#</th>
                    <th>Tên truyện</th>
                    <th>Tập số</th>
                    <th>Giá Thuê/7 ngày</th>
                    <th>Giá truyện/1 cuốn</th>
                    <th>Số lượng</th>
                    <th>Hành động</th>
                </tr>
            </thead>
            <tbody>
                    {{#each cart.items}}
                        <tr class="row-data" data-id="{{this.bookId._id}}">
                            <th>{{sum @index 1}}</th>
                            <th name="nameManga" class="nameManga">{{this.bookId.nameManga}}</th>
                            <th name="episode" class="episode">{{this.bookId.episode}}</th>
                            <th name="rentCost" class="rentCost">{{this.bookId.rentCost}}</th>
                            <th name="cost" class="cost">{{this.bookId.cost}}</th>
                            <th name="amount" class="amount">
                               <button class="amountPlus" style="border: none;" data-id="{{this.bookId._id}}">
                                   <i class="fas fa-plus"></i>
                               </button>

                               <span class="valueAmount">{{this.amount}}</span>
                                
                                <button class="amountMinus" style="border: none" data-id="{{this.bookId._id}}"> 
                                   <i class="fa fa-minus" aria-hidden="true"></i>
                               </button> 
                            </th>
                            <th name="amountBook" class="amountBook" hidden>{{this.bookId.amount}}</th>

                        
                            <th>
                                <button class="btn btn-danger btn-delete-item" data-id="{{this.bookId._id}}">Xóa</button>
                            </th>
                        </tr>
                    {{/each}}
                        <tr>
                            <td colspan="2">Số ngày thuê: 7 ngày/1 lần</td>
                            <td colspan="4" style="text-align: right;">Tổng tiền:</td>
                            <td >
                                <div >
                                    <span class="tong-tien">{{cart.totalPrice}}</span>đ
                                </div>
                            </td>
                        </tr>
            </tbody>
                
        </table>
        <form name="form-rentals"  method="POST">
            <input type="hidden" name="totalPrice" value="{{cart.totalPrice}}">
            <button type="submit" class="btn btn-success submitForm disabled" id="submitForm">Xác nhận</button>
        </form>
            
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded",function(){
        var btnDeleteItem = document.querySelectorAll('.btn-delete-item')
        var rowData = document.querySelectorAll('.row-data')
        var cartItem = document.querySelector('.cart-item')
        var form = document.forms['form-rentals']
        var submitForm = $('.submitForm')
        var minusEl = $('.amountMinus')

        var tongtienEl = document.querySelector('.tong-tien')
        var amountPlus = document.querySelectorAll('.amountPlus')
        var amountMinus = document.querySelectorAll('.amountMinus')
        console.log(amountMinus)
        var valueAmount = document.getElementsByClassName('valueAmount')
        var elTable = document.getElementById('table')

        function checkRowData(table){
            var checkedLength = table.rows.length
            if (checkedLength > 2){
                submitForm.removeClass('disabled')
            }else{
                submitForm.addClass('disabled')
            }
        }
        checkRowData(elTable)

        amountPlus.forEach((plus, i) => {
            plus.onclick = function(){
                tongtienEl.innerText = ''
                var value = valueAmount[i].innerText//lấy giá trị hiển tại
                var amountPlus = parseInt(value) +1//tăng lên 1
                valueAmount[i].innerText = amountPlus
                var idItem = this.getAttribute("data-id")

                axios.post('/cart/plus/' + idItem)
                .then((res)=>{
                    const totalPrice = res.data.totalPrice
                    tongtienEl.innerText = totalPrice
                })
                .catch((err)=>{
                    console.log(err)
                })
            }
        })

        amountMinus.forEach((minus, i) => {
            minus.onclick = function(){              
                tongtienEl.innerText = ''
                var value = valueAmount[i].innerText//lấy giá trị hiển tại
                var amountMinus = parseInt(value) -1//trừ 1
                var flag = 1
               if(amountMinus < 1){
                   alert('Không thể giảm!!!')
                   flag = 0
               }
               else{
                   valueAmount[i].innerText = amountMinus
               } 
                var idItem = this.getAttribute("data-id")
                if(flag == 1){
                    axios.post('/cart/minus/' + idItem)
                    .then((res)=>{
                        const totalPrice = res.data.totalPrice
                        tongtienEl.innerText = totalPrice
                    })
                    .catch((err)=>{
                        console.log(err)
                    })
                }
                
            }
        })


        btnDeleteItem.forEach(btn =>{
            btn.onclick = function (){
                tongtienEl.innerText = ""
                cartItem.innerText = ""
                var idItem = this.getAttribute("data-id")
                let table = this.parentElement.parentElement.parentElement.parentElement
                this.parentElement.parentElement.remove()
                checkRowData(table)
                axios.post('/deleteItem/' + idItem)
                .then((res)=>{
                    const totalPrice = res.data.cart.totalPrice
                    const totalItem = res.data.cart.totalItem
                    tongtienEl.innerText = totalPrice
                    cartItem.innerText = totalItem
                })
                .catch((err)=>{
                    console.log(err)
                })
            }
        })
        form.addEventListener("submit", async function(e){
            e.preventDefault()
            const items = []
            //var numberRental = form.numberRental.value
            var totalPrice = tongtienEl.innerText
            console.log(totalPrice)
            var flag = 1
            var rowData = this.parentElement.querySelector('.table').querySelectorAll('.row-data')
            rowData.forEach((row, i) => {
                var nameManga = row.querySelector('.nameManga').innerText
                var episode = row.querySelector('.episode').innerText
                var rentCost = row.querySelector('.rentCost').innerText
                var amount = valueAmount[i].innerText
                var amountBook = row.querySelector('.amountBook').innerText
                
                console.log(amountBook)
                console.log(amount)
                if(amountBook < amount){
                    alert('Số lượng không đủ!!')
                    flag = 0
                }
                else{
                    items.push({
                    nameMang: nameManga,
                    episode: episode,
                    rentCost: rentCost,
                    amount: amount,
                    
                })
                }  
            })
            if(flag == 1){
                axios.post('/rentals',{
                items: items,
                totalPrice: parseInt(totalPrice),
                //numberRental: numberRental,
            })
                .then(async (res)=>{
                    console.log(res.data)
                    var success  = await res.data.message
                })
                .catch((err)=>{
                    console.log(err)
                })
            }
            
        })

    })
</script>