<div class="story-see container">
    <div class="story-see-main">
        <div class="block">
            <div class="box">
                <div id="path" class="path-top">
                    <ul class="breadcrumb">
                        <li>
                            <a href="#">
                                <span>Trang chủ</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>{{chapter.tentruyen}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span>{{chapter.chapter}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    <div class="detail-title">
                        <a href="#">{{chapter.tentruyen}}</a> {{chapter.chapter}}
                    </div>
                    <time datetime="">(cập nhật lúc: {{dateFormat chapter.createAt format="HH:mm DD/MM/YYYY "}} )</time>
                </div>
            </div>
            <div class="story-see-content">
                {{#each chapter.imgManga}}
                    <img src="/img/{{this.fileName}}" alt="" class="lazy">
                {{/each}}
            </div>
        </div>
    </div>
</div>