<div class="container has-background-white story-detail mt-4">
    <div class="block01 mt-2">
        <div class="left">
            <img src="/img/{{manga.image}}" alt="">
        </div>
        <div class="center">
            <h1>{{manga.nameManga}}</h1>
            <div class="txt">
                <span class="info-item" style="color: red;">Tên khác: {{manga.otherName}}</span>
                <p class="info-item">Tình trạng: {{manga.idDetailManga.status}}</p>
                <div>
                    <span>Thống kê</span>
                    <span class="sp01">
                        <i class="fas fa-thumbs-up"></i> <span class="sp02 number-like">{{detail.idFavourite.arrIdUser.length}}</span>
                    </span>
                    <span class="sp01">
                        <i class="fas fa-heart"></i> <span class="sp02">{{manga.idDetailManga.arrIdFollow.length}}</span>
                    </span>
                    <span class="sp01">
                        <i class="fas fa-eye"></i> <span class="sp02">99</span> 
                    </span>
                </div>
            </div>
            <ul class="list01">
                {{#each manga.categories}}
                    <li class="li03">
                        <a href="#">{{this.nameCategory}}</a>
                    </li>
                {{/each}}
            </ul>
            <ul class="story-detail-menu">
                <li class="li01">
                    
                        <a href="/manga/{{manga.slug}}/1" class="button is-danger is-rounded">
                            <span class="btn-read"></span>Đọc từ đầu
                        </a>
                </li>
                <li class="li02">
                    <form name="form-follow-manga" class="{{#if checkFollow}}cancel-follow{{/if}}">
                        <input type="hidden" name="idUser" value="{{user._id}}">
                        <input type="hidden" name="idManga" value="{{manga._id}}">
                        <a href="#" class="button is-danger is-rounded btn-subscribe subscribeBook" data-page="index" data-id="11004">
                            <span class="fas fa-heart"></span>
                        </a>
                    </form>
                </li>
                <li class="li03">
                    <form name="form-favourite">
                        <a href="#" class="button is-danger is-rounded btn-like" data-id="11004">
                            <input type="hidden" name="idUser" value="{{user._id}}">
                            <input type="hidden" name="idManga" value="{{manga._id}}">
                            <span class="fas fa-thumbs-up"></span>Thích
                        </a>
                    </form>
                </li>
            </ul>
            {{#if detail.description}}
            <div class="txt txt01 story-detail-info readmore-js-section readmore-js-collapsed" itemprop="description" style="height: 60px;">
                <p>{{detail.description}}</p>
            </div>
            <p class="readmore readmore-js-toggle" ><a href="#">Xem Thêm</a></p>
            {{/if}}
        </div>
    </div>
    <div class="block02">
        <div class="title">
            <h2 class="story-detail-title">Danh sách chương</h2>
        </div>
        <div class="box">
            <div class="works-chapter-list">
                <input type="hidden" class="id-User" value="{{user._id}}">
                <input type="hidden" class="id-Manga" value="{{manga._id}}">
                {{#with detail}}
                    {{#imgDetails}}
                    <div class="works-chapter-item row">
                        <div class="col-md-10 col-sm-10 col-xs-8">
                            <a target="_blank" data-id="{{_id}}" class="chapter" href="/manga/{{slug}}/{{chapter}}">Chương {{chapter}}</a>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-4 text-right">
                            {{dateFormat createAt format='DD/MM/YYYY'}}
                        </div>
                    </div>
                    {{/imgDetails}}
                {{/with}}
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded",()=>{
        // Đặt biến
        var description = $('.readmore-js-collapsed')
        var btnReadmore = $('.readmore')
        var formFollow = document.forms['form-follow-manga']
        var formCancelFollow = document.forms['form-cancel-follow-manga']
        var formFavourite = document.forms['form-favourite']
        var btnLike = $('.btn-like')
        var numberLike = $('.number-like')
        var idManga = $('.id-Manga').val()
        var idUser = $('.id-User').val()
        var chapters = $('.chapter')
        // hàm xử lý


        // Lịch sử
        chapters.each((index,chapter)=>{
            chapter.addEventListener("click", function(e){
                //e.preventDefault()
                idChapter = chapter.getAttribute("data-id")
                axios.post("/history/"+ idManga,{
                    idChapter: idChapter,
                    idUser: idUser
                })
                .then((res)=>{
                    console.log(res)
                })
                .catch((err)=>{
                    console.log(err)
                })
            })
        })
        // Yêu thích
        btnLike.on('click', (e)=>{
            let idUser = formFavourite.idUser.value
            let idManga = formFavourite.idManga.value
            if(idUser == ""){
                alert("Vui lòng đăng nhập")
            }else{
                axios.post("/manga/favourite/" + idManga,{
                    idUser: idUser
                })
                .then((res)=>{
                    const data = res.data
                    console.log(data)
                    if(data.message == "false"){
                        alert("Bạn đã yêu thích truyện này")
                    }
                    else if(data.message == "true"){
                        numberLike[0].innerText = ""
                        numberLike[0].innerText = data.favourite.arrIdUser.length
                    }
                })
                .catch((err)=>{
                    console.log(err)
                })
            }
        })

        btnReadmore.on('click',()=>{
            if(description.hasClass("readmore-js-collapsed")){
                description.removeClass("readmore-js-collapsed")
                description.addClass("readmore-js-expanded")
            }else{
                description.removeClass("readmore-js-expanded")
                description.addClass("readmore-js-collapsed")
            }
        })

        // hàm bỏ theo dõi
        async function funcUnfollow(event, form) {
            event.preventDefault()
            let idUser = form.idUser.value
            let idManga = form.idManga.value
            await axios.post("/manga/cancelFollow/" + idManga,{
                idUser: idUser
            })
            .then((res)=>{
                const data = res.data
                form.classList.remove("cancel-follow");
                form.onclick = function(e) {
                    funcFollow(e, form);
                }
            })
            .catch((err)=>{
                console.log(err.response)
            })
        }
        // hàm theo dõi
        async function funcFollow(event, form) {
            event.preventDefault()
            if(form.idUser.value == ""){
                window.location.href = window.location.origin + "/login"
            }
            let idUser = form.idUser.value
            let idManga = form.idManga.value
            let status = false;
            await axios.post("/manga/follow/" + idManga,{
                idUser: idUser
            })
            .then((res)=>{
                const data = res.data
                form.classList.add("cancel-follow");
                form.onclick = function(e) {
                    funcUnfollow(e, form);
                }
            })
            .catch((err)=>{
                console.log(err.response)
            })
        }
        // nút hủy follow
        if(formFollow && formFollow.classList.contains("cancel-follow")){
            formFollow.onclick = function(e) {
                funcUnfollow(e, this)
            };
        } else if(formFollow && !formFollow.classList.contains("cancel-follow")){
            formFollow.onclick = function(e) {
                funcFollow(e, this);
            };
        }


    })
</script>
