
<div class="container">
    <!-- Page Header -->
    <div class="page-header">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-title">Welcome User!</h3>

                <ul class="breadcrumb">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Page Content -->
<div class="container ">
    <div class="latest">
        <div class="caption">
            <a href="#">
                <span><i class="fas fa-star"></i></span>
                "Truyện cho thuê"
            </a>
        </div>
        {{#each rentals}}
            <ul class="list-manga grid-6">
                {{#each this.books}}
                    <li>
                        <div class="manga-item">
                            <a href="/manga/{{this.slug}}"> <img src="/img/{{this.image}}" alt="#"></a>
                            <h4 class="title-book">
                                <p href="#">Tên Truyện: {{this.nameManga}}</p>
                                
                            </h4>
                            <p href="#">Tập số: {{this.episode}}, Giá thuê {{this.rentCost}},Số lượng <span class="amount">{{this.amount}}</span>  </p>
                            <div class="chapter-book" data-id="{{this._id}}">
                                {{!-- handlebars helper --}}
                                {{!-- nếu số lượng = 0 => hết hàng, ngược lại => addToCart --}}
                                {{#if_eq this.amount}}
                                {{/if_eq}}
                            </div>
                            <div class="more-info"></div>
                        </div>
                    </li>
                {{/each}}
            </ul>
        {{/each}}
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded",()=>{
        var btnAddToCarts = document.querySelectorAll(".btn-add-to-cart")
        console.log(btnAddToCarts[0].innerText)
        var cartItem = document.querySelector('.cart-item')
        var amount = document.querySelectorAll('.amount')
        var flag = 1
        btnAddToCarts.forEach((btn, i) => {
            btn.onclick = function(e) {
                e.preventDefault();
                var idBook = this.parentElement.getAttribute("data-id")
                console.log(idBook)
                console.log("amount : ",amount[i].innerText)
                if(amount[i].innerText <= 0){
                    alert("hết hàng")
                    flag = 0
                }
                if(flag == 1){    
                    axios.post('/addToCart/'+ idBook)
                    .then((res)=>{
                        const totalItem = res.data.user.cart.totalItem
                        if(res.data){
                            alert(res.data.message)
                        }
                        cartItem.innerText = totalItem
                    })
                    .catch((err)=>{
                        console.log(err)
                    })
                }
            }
        })
    })
</script>