{{!-- Comments Form --}}
<div class="card my-4">
    <span>
        <i class="fa fa-comments">
            <h5> Comment: </h5>
        </i>
    </span>
    <div class="card-body">
        <form onsubmit="" id="form-comment"  method="POST">
            <input type="hidden" name="postId" value="{{post._id}}">
            <div class="form-group">
                <input type="hidden" name="username" value="{{user._id}}">
            </div>
            {{!-- k có for à ? đây là cái form nhập comment thôi --}}
            <div class="form-floating mt-2">
                <textarea class="form-control" placeholder="Leave a comment here" name="content" style="height: 100px"></textarea >
                <label for="floatingTextarea2">Comments</label>
            </div>
            <button type="submit" class="btn btn-success mt-2">submit</button>
        </form>
    </div>
</div>


{{!-- {{#with post}}
<div id="comment-list">
    <div class="content">
        content: {{content}}
    </div>
</div>
{{/with}}    --}}
{{#with post}}
    {{#each comments}}
        {{content}}
    {{/each}}
    {{content}}
{{/with}}
{{!-- {{#with post}}
    {{content}}
    {{#each comments}}
        <div class="media mb-4">
            <div class="media-body">
                <h5 class="mt-2">
                    {{this}}
                </h5>
            </div>
        </div>
    {{/each}}
{{/with}}    --}}
{{!-- 
axios.get(
        '/post/'+  postIdElement + '/comment',
        )
        .then(function (res) {
            // ghi ngắn thôi cha
            if (Object.keys(res).length > 0 && res.data) {
                const data = res.data.comments;
                data.forEach(comment => {
                    let elNew = document.createElement("div");
                    let textElNew = document.createTextNode(comment.content);
                    elNew.appendChild(textElNew);
                    elNew.classList.add("cmt-item");
                    document.getElementById("comment-list").appendChild(elNew);
                });
            }
        })
        .catch(function (error) {
            console.log(error)
        }) --}}
<script>
    document.addEventListener("DOMContentLoaded", function (){
        var postIdElement = $('input[name="postId"]').val()
        var hahaha = []

        
        // submit form comment
        document.getElementById('form-comment').addEventListener("submit",(event)=>{
            event.preventDefault()
            
            var usernameElement = $('input[name="username"]').val()
            var contentElement = this.querySelector('textarea[name="content"]').value
            let data = {
                userId: usernameElement,
                content: contentElement,
                postId: postIdElement
            }
            axios.post(
                "/post/" + postIdElement + "/comment",
                data
            ) 
            .then(function (response) {
                console.log(response)
            })
            .catch(function (error) {
                console.log(error)
            })
        })
    })
    
</script>