<div class="container">
    <div class="row mt-4">
        <form action="handleFormActions" method="POST">
            <div>
                <a href="../categories" class="btn btn-outline-primary ">Quay lại</a>
                <h1>Danh sách thể loại đã bị xóa</h1>
                <div class="mt-4 d-flex align-items-center">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                            <label class="form-check-label" for="checkbox-all">
                                Chọn tất cả
                            </label>
                        </div>
                        <select class="form-control form-control-sm checkbox-select-all-options" 
                                aria-label="Default select example"
                                style="width:120px; margin: 0 8px"
                                required="required"
                                name="action">
                            <option value="">--Hành động--</option>
                            <option value="restore">Khôi phục</option>
                            <option value="deleteForce">Xóa vĩnh viễn</option>
                        </select>
                        <button class="btn btn-primary btm-sm check-all-submit-btn disabled">Thực hiện</button>
                    </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">STT</th>
                        <th scope="col">Tên thể loại</th>
                        <th scope="col">Thời gian Xóa</th>
                        <th scope="col" colspan="2">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each theloais}}
                    <tr>
                        <th scope="row">
                            <input class="form-check-input" type="checkbox" value="{{this._id}}" id=""
                            name="categoryIds[]" >
                        </th>
                        <th scope="row">{{sum @index 1}}</th>
                        <th>{{this.tenloai}}</th>
                        <td>{{dateFormat this.deleteAt }}</td>
                        <td>
                            <a href="" class="btn btn-outline-warning btn-restore" data-id="{{this._id}}">Khôi phục</a>
                            <a href="" class="btn btn-outline-danger test" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{this._id}}" >Xóa vĩnh viễn</a>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="4" class="text-center">
                            Thùng rác rỗng
                            <a href="../categorys" style="text-decoration:none">Danh sách thể loại</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Xóa thể loại</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có chác muốn xóa thể loại này không ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger " id="btn-delete-category" data-bs-dismiss="modal">Xóa</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<form  method="POST" name="delete-form-Category" ></form>
<form  method="POST" name="restore-form-Category" ></form>
<script>
    document.addEventListener("DOMContentLoaded", function (){
        var categoryId
        var deleteForm = document.forms['delete-form-Category']
        var restoreForm = document.forms['restore-form-Category']
        var btnDeleteCategory = document.getElementById('btn-delete-category')
        var restoreBtn = $('.btn-restore')
        var deleteBtn = $('.btn-delete')
        var checkboxAll = $('#checkbox-all')
        var categoryItemCheckbox = $('input[name="categoryIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            categoryId = button.getAttribute('data-id')
        })
        btnDeleteCategory.onclick = function (){
            deleteForm.action = '/admin/categorys/' + categoryId + '/categoryForceDelete?_method=DELETE'
            deleteForm.submit()
        }
        restoreBtn.click(function(e){
            e.preventDefault()
            var categoryId = $(this).data('id')
            restoreForm.action =  '/admin/categorys/' + categoryId + '/categoryRestore?_method=PATCH'
            restoreForm.submit()
        })
        checkboxAll.change(function (){
            var isCheckAll = $(this).prop('checked')
            categoryItemCheckbox.prop('checked', isCheckAll)
            renderCheckAllSubmitBtn()
        })
        categoryItemCheckbox.change(function (){
            var isCheckAll = categoryItemCheckbox.length === $('input[name="categoryIds[]"]:checked').length
            checkboxAll.prop('checked', isCheckAll)
            renderCheckAllSubmitBtn()
        })
        function renderCheckAllSubmitBtn(){
            var checkboxCount = $('input[name="categoryIds[]"]:checked').length
            if (checkboxCount > 0){
                checkAllSubmitBtn.removeClass('disabled')
            }else{
                checkAllSubmitBtn.addClass('disabled')
            }
        }
    })

</script>