<div class="container">
    <div class="row mt-4 manga">
        <form action="categories/handleFormActions" method="POST" >
            <div>
                <h1>Danh sách thể loại</h1>
                <a href="categories/categoryTrash" class="btn btn-outline-warning">Thùng rác ({{deleteCount}})</a>
                <a href="../admin/categories/formCategoryCreate" class="btn btn-outline-info">Thêm thể loại</a>
                <div class="mt-4 mb-4 d-flex align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                        <label class="form-check-label" for="checkbox-all">
                            Chọn tất cả
                        </label>
                    </div>
                    <select class="form-control form-control-sm checkbox-select-all-options" 
                            aria-label="Default select example"
                            style="width:120px; margin: 0 8px"
                            required="required"
                            name="action">
                        <option value="">--Hành động--</option>
                        <option value="delete">Xóa</option>
                    </select>
                    <button class="btn btn-primary btm-sm check-all-submit-btn disabled">Thực hiện</button>
                </div>
            </div>
            <table class="table  table-striped custom-table mb-4">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>
                            Tên thể loại
                            {{{sortTable 'nameCategory' _sort}}}
                        </th>
                        <th>
                            Thời gian tạo
                            {{{sortTable 'createAt' _sort}}}
                        </th>
                        <th colspan="2">Hành động</th>
                    </tr>
                </thead>
                <tbody id="tbody-table">
                    {{#each categories}}
                    <tr>
                        <td> <input type="checkbox" value="{{this._id}}" id="" name="categoryIds[]"/>&nbsp;</td>
                        <td>{{this.nameCategory}}</td>
                        <td>{{dateFormat this.createAt }}</td>
                        <td>
                            <a href="/admin/categories/{{this._id}}/categoryEdit" class="btn btn-outline-warning">Sửa</a>
                            <a href="/admin/categories/{{this._id}}/categoryDelete" class="btn btn-outline-danger test" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{this._id}}" >Xóa</a>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="4" class="text-center">
                            Bạn chưa thêm thể loại nào
                            <a href="../admin/categories/formCategoryCreate" style="text-decoration:none">Thêm thể loại</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Xóa thể loại</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có chác muốn xóa thể loại này không ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="btn-delete-category" data-bs-dismiss="modal">Xóa bỏ</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    </div>
                    </div>
                </div>
            </div>
        </form>
        <nav aria-label="Page navigation example">
            <ul class="pagination float-right">
                {{#pagination 1 pages 6 }}
                    <div class="pagination">
                        {{#unless startFromFirstPage}}
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                        {{/unless}}
                        {{#each pages}}
                            {{#if isCurrent}}
                            <li class="page-item" value="{{page}}"><a class="page-link" href="#">{{page}}</a></li>
                            {{/if}}
                            {{#unless isCurrent}}
                            <li class="page-item" value="{{page}}"><a class="page-link" href="#">{{page}}</a></li>
                            {{/unless}}
                        {{/each}}
                        {{#unless endAtLastPage}}
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        {{/unless}}
                    </div>
                {{/pagination}}
            </ul>
        </nav>
    </div>
</div>
{{!-- delete hidden form --}}
<form  method="POST" name="formCategoryDelete" ></form>

<script>
    document.addEventListener("DOMContentLoaded", function (){
        var deleteForm = document.forms['formCategoryDelete']
        var btnDeleteCategory = document.getElementById('btn-delete-category')
        var checkBoxAll = $('#checkbox-all')
        var categoryItemCheckbox = $('input[name="categoryIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')
        var pageItems = $('.page-item')
        var tbodyTable = $('#tbody-table')
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            categoryId = button.getAttribute('data-id')
        })
        
        //formatTiem
        function formatTime(time) {
			let timeNow = new Date().getTime();
			let timeCreate = new Date(time)
			let seconds = Math.floor((timeNow - timeCreate.getTime())/1000)
            let day = timeCreate.getDate()
            let month = timeCreate.getMonth() + 1
            let year = timeCreate.getFullYear() 
            return `0` + `${day}/` + `0` + `${month}/${year}`
		}
        //render check all submit
        function renderCheckAllSubmitBtn(){
            var checkedCount = $('input[name="categoryIds[]"]:checked').length
            if (checkedCount > 0){
                checkAllSubmitBtn.removeClass('disabled')
            }else{
                checkAllSubmitBtn.addClass('disabled')
            }
        }

        btnDeleteCategory.onclick = function (){
            deleteForm.action = '/admin/categories/' + categoryId + '?_method=DELETE'
            deleteForm.submit()
        }
        //Check box all clicked
        checkBoxAll.change(function (){
            var isCheckAll = $(this).prop('checked')
            $('input[name="categoryIds[]"]').prop('checked', isCheckAll)
            renderCheckAllSubmitBtn()
        })

        //Category item checkbox changed
        categoryItemCheckbox.change(function (){
            var isCheckAll = categoryItemCheckbox.length === $('input[name="categoryIds[]"]:checked').length
            checkBoxAll.prop('checked', isCheckAll)
            renderCheckAllSubmitBtn()
        })

        pageItems.each((index, btn)=>{
            btn.addEventListener("click", function(){
                axios.get("../admin/categories?page="+btn.value)
                .then((res)=>{
                    const data = res.data.categories
                    tbodyTable.html('')
                    for(let i = 0; i < data.length; i++)
                    {
                        const elment = data[i]
                        let time = formatTime(elment.createAt)
                        var html = `
                            <tr>
                                <td> <input type="checkbox" value="${elment._id}" id="" name="categoryIds[]"/>&nbsp;</td>
                                <td>${elment.nameCategory}</td>
                                <td>${time}</td>
                                <td>
                                    <a href="/admin/categories/${elment._id}/categoryEdit" class="btn btn-outline-warning">Sửa</a>
                                    <a href="/admin/categories/${elment._id}/categoryDelete" class="btn btn-outline-danger test" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="${data._id}" >Xóa</a>
                                </td>
                            </tr>
                        `
                        tbodyTable.append(html)
                    }
                    checkBoxAll.prop('checked', false);
                    categoryItemCheckbox = $('input[name="categoryIds[]"]')

                    //Category item checkbox changed
                    categoryItemCheckbox.change(function (){
                        var isCheckAll = categoryItemCheckbox.length === $('input[name="categoryIds[]"]:checked').length
                        console.log(isCheckAll)
                        console.log(checkBoxAll)
                        checkBoxAll.prop('checked', isCheckAll)
                        renderCheckAllSubmitBtn()
                    })
                })
                .catch((err)=>{ 
                    console.log(err)
                })
            })
        })
    })

</script>