<div class="container">
    <div class="row">
        <form method="POST" action="/admin/categorys/handle-form-actions"  name="container-form">
            <div>
                <h3>Danh sách thể loại của bạn</h3>
                <a href="/admin/categorys/categoryTrash" class="btn btn-outline-warning mt-2 mb-2">Thùng rác ({{deletedCount}})</a>
                <a href="/admin/categorys/formCategoryCreate" class="btn btn-outline-info mt-2 mb-2">Thêm thể loại </a>
                <div class="mt-4 d-flex align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                        <label class="form-check-label" for="flexCheckDefault" id="checkbox-all">
                            Chọn tất cả
                        </label>
                    </div>
                    <select class="form-control form-control-sm checkbox-select-all-options" name="action" aria-label="Default select example" style="width:140px ; margin: 0 8px" required="required">
                        <option value="">-- Hành động --</option>
                        <option value="delete">Xóa</option>
                    </select>
                    <button class="btn btn-primary check-all-submit-btn btn-sm disabled">Thực hiện</button>
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">STT</th>
                        <th scope="col">Tên thể loại</th>
                        <th scope="col">Thời gian tạo</th>
                        <th scope="col" colspan="2"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each theloais}}
                    <tr>
                        <th scope="row"> 
                            <input class="form-check-input" type="checkbox" name="categoryIds[]" value="{{this._id}}">
                        </th>
                        <th>{{sum @index 1}}</th>
                        <td>{{this.tenloai}}</td>
                        <td>{{dateFormat this.createAt format='DD/MM/YYYY'}}</td>
                        <td>
                            <a href="/admin/categorys/{{this._id}}/categoryEdit" class="btn btn-outline-warning">Sửa</a>
                            <a href="/admin/categorys/{{this._id}}/categoryDelete" class="btn btn-outline-danger test" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{this._id}}" >Xóa</a>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="4" class="text-center">
                            Bạn chưa có thể loại nào:
                            <a href="/admin/categorys/formCategoryCreate" style="text-decoration: none">Thêm thể loại</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Xóa thể loại</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có chác muốn xóa thể loại này không ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="btn-delete-category" data-bs-dismiss="modal">Xóa bỏ</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{{!-- delete hidden form --}}
<form  method="POST" name="formCategoryDelete" ></form>

<script>
    document.addEventListener("DOMContentLoaded", function (){
        var categoryId
        var deleteForm = document.forms['formCategoryDelete']
        var btnDeleteCategory = $('#btn-delete-category')
        var checkboxAll = $('#checkbox-all')
        var categoryItemcheckbox = $('input[name="categoryIds[]"]')
        var btnCheckAllSubmit = $('.check-all-submit-btn')
        var containerForm = $('#container-form')
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            categoryId = button.getAttribute('data-id')
        })
        btnDeleteCategory.onclick = function (){
            deleteForm.action = '/admin/categorys/' + categoryId + '?_method=DELETE'
            deleteForm.submit()
        }
        // checkbox all changed
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked')
            categoryItemcheckbox.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
        })
        // category item checkbox changed
        categoryItemcheckbox.change(function () {
            var isCheckedAll = categoryItemcheckbox.length === $('input[name="categoryIds[]"]:checked').length
            checkboxAll.prop('checked', isCheckedAll)
            renderCheckAllSubmitBtn()
        })
        //Re-render check all submit button
        function renderCheckAllSubmitBtn(){
            var checkCount =  $('input[name="categoryIds[]"]:checked').length
            if (checkCount > 0){
                btnCheckAllSubmit.removeClass('disabled')
            }else{
                btnCheckAllSubmit.addClass('disabled')
            }
        }
    })

</script>