<div class="container">
    <div class="row mt-4">
        <form action="categorys/handleFormActions" method="POST" >
            <div>
                <h1>Danh sách thể loại</h1>
                <a href="categorys/categoryTrash" class="btn btn-outline-warning">Thùng rác ({{deleteCount}})</a>
                <a href="../admin/categorys/formCategoryCreate" class="btn btn-outline-info">Thêm thể loại</a>
                <div class="mt-4 d-flex align-items-center">
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
                        <label class="form-check-label" for="checkbox-all">
                            Chọn tất cả
                        </label>
                    </div>
                    <select class="form-control form-control-sm checkbox-select-all-options" 
                            aria-label="Default select example"
                            style="width:120px; margin: 0 8px"
                            required="required"
                            name="action">
                        <option value="">--Hành động--</option>
                        <option value="delete">Xóa</option>
                    </select>
                    <button class="btn btn-primary btm-sm check-all-submit-btn disabled">Thực hiện</button>
                </div>
            </div>
            <table class="table  table-striped custom-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Id</th>
                        <th>
                            Category
                            {{{sortTable 'tenloai' _sort}}}
                        </th>
                        <th>
                            Creation time
                            {{{sortTable 'createAt' _sort}}}
                        </th>
                        <th colspan="2">Action</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each categorys}}
                    <tr>
                        <td> <input type="checkbox" value="{{this._id}}" id="" name="categoryIds[]"/>&nbsp;</td>
                        <td>{{this._id}}</td>
                        <td>{{this.tenloai}}</td>
                        <td>{{dateFormat this.createAt }}</td>
                        <td>
                            <a href="/admin/categorys/{{this._id}}/categoryEdit" class="btn btn-outline-warning">Sửa</a>
                            <a href="/admin/categorys/{{this._id}}/categoryDelete" class="btn btn-outline-danger test" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{this._id}}" >Xóa</a>
                        </td>
                    </tr>
                    {{else}}
                    <tr>
                        <td colspan="4" class="text-center">
                            Bạn chưa thêm thể loại nào
                            <a href="../admin/categorys/formCategoryCreate" style="text-decoration:none">Thêm thể loại</a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
            <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel">Xóa thể loại</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có chác muốn xóa thể loại này không ?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="btn-delete-category" data-bs-dismiss="modal">Xóa bỏ</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{{!-- delete hidden form --}}
<form  method="POST" name="formCategoryDelete" ></form>

<script>
    document.addEventListener("DOMContentLoaded", function (){
        var deleteForm = document.forms['formCategoryDelete']

        var btnDeleteCategory = document.getElementById('btn-delete-category')
        var checkBoxAll = $('#checkbox-all')
        var categoryItemCheckbox = $('input[name="categoryIds[]"]')
        var checkAllSubmitBtn = $('.check-all-submit-btn')
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget
            categoryId = button.getAttribute('data-id')
        })
        btnDeleteCategory.onclick = function (){
            deleteForm.action = '/admin/categorys/' + categoryId + '?_method=DELETE'
            deleteForm.submit()
        }

        //Check box all clicked
        checkBoxAll.change(function (){
            var isCheckAll = $(this).prop('checked')
            categoryItemCheckbox.prop('checked', isCheckAll)
            renderCheckAllSubmitBtn()
        })

        //Category item checkbox changed
        categoryItemCheckbox.change(function (){
            var isCheckAll = categoryItemCheckbox.length === $('input[name="categoryIds[]"]:checked').length
            checkBoxAll.prop('checked', isCheckAll)
            renderCheckAllSubmitBtn()
        })
        //render check all submit
        function renderCheckAllSubmitBtn(){
            var checkedCount = $('input[name="categoryIds[]"]:checked').length
            if (checkedCount > 0){
                checkAllSubmitBtn.removeClass('disabled')
            }else{
                checkAllSubmitBtn.addClass('disabled')
            }
        }
        
    })

</script>